@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto Slab", serif;
  }
}

@layer components {
  .animate-check_trigger {
    opacity: 0;
    transform: translateY(20px); /* Пример смещения вниз */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Добавляем плавные переходы */
  }
}
