{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load static %}

{% block content %}
<!-- hero home -->
<div class="relative h-screen bg-cover bg-center" style="background-image: url(/static/images/blog_hero.jpg);">
    <div class="absolute inset-0 bg-gradient-to-r from-black/75 to-black/50"></div>
    <div class="container mx-auto h-full flex flex-col justify-center items-start relative z-10 animate-fade-down">
        <h1 class="
        text-9xl font-bold text-white mb-4">
            Блог
        </h1>
        <p class="w-3/5 text-xl text-white leading-normal mb-8">
            Здесь вы найдете вдохновение, советы и истории о мире декоративного искусства.
            Узнайте больше о наших мастер-классах, новинках и идеях для творчества.
        </p>
    </div>
</div>
<!-- end -->

<!-- attraction -->
<section class="container mx-auto py-24">
    <div class="flex flex-col justify-center items-center">
        <p class="text-7xl text-center">
            Исследуйте мир <span class="text-[#8B9D83]">творчества и искусства</span> с эксклюзивными статьями и
            вдохновляющими историями
        </p>
    </div>
</section>
<!-- end -->

<!-- blog -->
<section class="body-font overflow-hidden">
    <div class="container px-5 py-12 mx-auto">
        <div class="-my-8 flex flex-col gap-10">
            {% for post in blogpages %}
            <a href="/blog{{ post.url }}" class="block">
                <div
                    class="p-8 flex flex-wrap md:flex-nowrap bg-[#8B9D83] rounded-[2rem] shadow-lg transform transition duration-300 hover:scale-105 divide-x-2 divide-white">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col justify-center items-center">
                        <div class="flex items-center gap-2">
                            <svg class="w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="rgba(122,78,63,1)">
                                <path
                                    d="M2 4C2 3.44772 2.44772 3 3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4ZM4 5V19H20V5H4ZM6 7H12V13H6V7ZM8 9V11H10V9H8ZM14 9H18V7H14V9ZM18 13H14V11H18V13ZM6 15V17L18 17V15L6 15Z">
                                </path>
                            </svg>
                            <span class="font-semibold title-font text-4xl text-gray-800">
                                {{ post.date|date:"j.n.Y" }}
                            </span>
                        </div>
                    </div>
                    <div class="md:flex-grow px-8">
                        <h2 class="text-4xl font-medium text-white title-font mb-2 line-clamp-1">
                            {{ post.title }}
                        </h2>
                        <p class="leading-relaxed text-xl text-gray-800 line-clamp-2">
                            {{ post.intro }}
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
<h1>{{ page.title }}</h1>
<div>{{ page.intro|richtext }}</div>
<!-- end -->
{% endblock %}