<!-- hero courses -->
<div
  class="relative h-screen bg-cover bg-center"
  style="background-image: url(images/courses_hero.png);"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/75 to-black/50"
  ></div>
  <div
    class="container mx-auto h-full flex flex-col justify-center items-start relative z-10 animate-fade-down"
  >
    <h1
      class="
        text-9xl font-bold text-white mb-4"
    >
      Мастер-классы
    </h1>
    <p class="w-3/5 text-xl text-white leading-normal mb-8">
      Совместная работа с мастером, включён один обжиг. Вы получаете изделие
      изготовленное своими руками под чутким руководством мастера. В стоимость
      включены все материалы и инструменты.
    </p>
  </div>
</div>
<!-- end -->

<!-- attraction -->
<section class="container mx-auto py-24">
  <div class="flex flex-col justify-center items-center">
    <p class="text-7xl text-center">
      <span class="text-[#8B9D83]">Мастер-класс</span> – это лепка руками или за
      гончарным кругом и декорирование в любой технике сразу на занятии
    </p>
  </div>
</section>
<!-- end -->

<!-- advantages -->
<section class="container mx-auto">
  <div class="flex flex-wrap">
    <div class="flex flex-wrap w-full">
      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-[#8B9D83] pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-[#7A4E3F] inline-flex items-center justify-center text-white relative z-10"
          ></div>
          <div class="flex-grow pl-4">
            <h2 class="text-3xl mb-1">Знакомство со студией</h2>
            <p class="leading-relaxed">
              Нальем чай или кофе, угостим вкусняшками и расскажем про разные
              техники работы с глиной и этапы, которые проходит изделие от
              комочка до функционального предмета
            </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-[#8B9D83] pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-[#7A4E3F] inline-flex items-center justify-center text-white relative z-10"
          ></div>
          <div class="flex-grow pl-4">
            <h2 class="text-3xl mb-1">Лепка вместе с мастером</h2>
            <p class="leading-relaxed">
              Создаем изделие на гончарном круге или лепим вручную.
              Преподаватель направляет, помогает придать форму и подсказывает
              техники декора
            </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-[#8B9D83] pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-[#7A4E3F] inline-flex items-center justify-center text-white relative z-10"
          ></div>
          <div class="flex-grow pl-4">
            <h2 class="text-3xl mb-1">Обжиг готового изделия</h2>
            <p class="leading-relaxed">
              После мастер-класса изделие должно полностью высохнуть и пройти 2
              длительных обжига в печи. Весь процесс может занимать несколько
              недель.
            </p>
          </div>
        </div>

        <div class="flex relative">
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-[#7A4E3F] inline-flex items-center justify-center text-white relative z-10"
          ></div>
          <div class="flex-grow pl-4">
            <h2 class="text-3xl mb-1">Наша команда</h2>
            <p class="leading-relaxed">
              Профессионалы с горящими глазами, которые помогут воплотить в
              жизнь любые смелые идеи
            </p>
          </div>
        </div>
      </div>
      <img
        class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-[4rem] md:mt-0 mt-12"
        src="images/9.jpg"
        alt="step"
      />
    </div>
  </div>
</section>
<!-- end -->

<!-- buying courses -->
<section class="container mx-auto py-20">
  <div class="bg-[#8B9D83] p-16 rounded-[4rem]">
    <div class="flex flex-col gap-10">
      <p class="text-5xl text-white">
        Оставьте заявку на мастер-класс, чтобы освоить навыки гончарного
        мастерства
      </p>
      <div class="flex justify-end items-center gap-5">
        <a
          href="/feedback"
          class="border-2 border-white rounded-[2rem] p-5 hover:brightness-90 transition-all duration-300"
        >
          <p class="text-2xl text-white">Купить сертификат</p>
        </a>
        <a
          href="/feedback"
          class="bg-white hover:bg-[#7A4E3F] rounded-[2rem] p-5 transition-all duration-300 group"
        >
          <p class="text-2xl text-[#8B9D83] group-hover:text-white">
            Забронировать место
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end -->

<!-- technique -->
<section class="container mx-auto">
  <h1 class="text-7xl text-center mb-10">
    <span class="text-[#8B9D83]">Техники</span>
    росписи
  </h1>
  <div class="grid grid-cols-3 gap-5">
    <!-- cards -->
    <div class="relative">
      <img
        class="object-cover rounded-[2rem] brightness-90 w-full h-[480px]"
        src="images/t1.png"
        alt=""
      />
      <div class="absolute bottom-0 p-6 text-white">
        <p class="text-4xl mb-4">Роспись ангобами</p>
        <p class="text-base">
          Это покрытие изделия краской (жидкой глиной с цветным пигментом). На
          изделии можно сделать минималистичный или детальный рисунок/надпись
        </p>
      </div>
    </div>
    <div class="relative">
      <img
        class="object-cover rounded-[2rem] brightness-90 w-full h-[480px]"
        src="images/t2.png"
        alt=""
      />
      <div class="absolute bottom-0 p-6 text-white">
        <p class="text-4xl mb-4">Нерияги</p>
        <p class="text-base">
          Это японская техника, когда смешивают 2 разные глины (или глину с
          цветным пигментом), чтобы получить интересный и непредсказуемый узор
        </p>
      </div>
    </div>
    <div class="relative">
      <img
        class="object-cover rounded-[2rem] brightness-90 w-full h-[480px]"
        src="images/t3.png"
        alt=""
      />
      <div class="absolute bottom-0 p-6 text-white">
        <p class="text-4xl mb-4">Сграффито</p>
        <p class="text-base">
          Это техника сцарапывания узора с окрашенного изделия. Вы лепите
          изделие, полностью покрываете его краской и сцарапываете рисунок (как
          гравюра)
        </p>
      </div>
    </div>
    <!-- end -->
  </div>
</section>
<!-- end -->

<!-- prices -->
<section class="container mx-auto py-20">
  <h1 class="text-7xl text-center mb-10">
    Наши
    <span class="text-[#8B9D83]">услуги</span>
  </h1>
  <div class="grid grid-cols-4 gap-5">
    <!-- cards -->
    <div class="col-span-2 row-span-2">
      <img
        class="w-full h-full object-cover rounded-[2rem]"
        src="images/XXXL (2).webp"
        alt=""
      />
    </div>
    <!--  -->
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#7A4E3F] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">ПростоЛепка</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">300 ₽</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#8B9D83] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">Занятие "Гончар"</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">от 1 200 ₽</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#8B9D83] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">Курс "Я керамист"</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">600 ₽</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#7A4E3F] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">Мастер класс "Интенсив"</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">от 1 200 ₽</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#7A4E3F] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">Мастер-класс "Фьюзинг в керамике"</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">от 1 400 ₽</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#8B9D83] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">Уроки мозаики</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">600 ₽ / час</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#7A4E3F] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">Макраме</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">400 ₽ / час</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#8B9D83] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">Мастер-класс "Мозаика в цементе"</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">700 ₽</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[2rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[250px] object-cover"
            src="images/time_card.jpeg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-[#8B9D83] flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-3xl">Резьба по дереву</h3>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-start">
          <div class="text-white text-start p-8">
            <p class="text-5xl">400 ₽ / час</p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="col-span-3">
      <img
        class="w-full h-[250px] object-cover rounded-[2rem]"
        src="images/10.jpeg"
        alt=""
      />
    </div>
    <!-- end -->
  </div>
</section>
<!-- end -->
