{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load static %}

{% block content %}

<!-- hero events -->
<div
  class="relative h-screen bg-cover bg-center"
  style="background-image: url(/static/images/events_hero.jpeg);"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/75 to-black/50"
  ></div>
  <div
    class="container mx-auto h-full flex flex-col justify-center items-start relative z-10 animate-fade-down"
  >
    <h1
      class="
        text-9xl font-bold text-white mb-4"
    >
      Мероприятия
    </h1>
    <p class="w-3/5 text-xl text-white leading-normal mb-8">
      Добро пожаловать в мир творчества и вдохновения! Мы предлагаем
      разнообразные мастер-классы и курсы, которые помогут вам раскрыть свои
      таланты и освоить новые навыки. Независимо от того, новичок вы или опытный
      мастер, у нас найдется что-то для каждого.
    </p>
  </div>
</div>
<!-- end -->

<!-- attraction -->
<section class="container mx-auto py-24">
  <div class="flex flex-col justify-center items-center">
    <p class="text-7xl text-center">
      <span class="text-[#8B9D83]">Каждое наше мероприятие</span>— это возможность попробовать свои силы в мире творчества
    </p>
  </div>
</section>
<!-- end -->

<!-- events -->
<section class="container mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <!-- cards -->
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/e1.png"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Свидание</h3>
            <p>
              Это мастер-класс для двоих, где вы сможете расслабиться и попробовать воссоздать культовую сцену из фильма
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/e2.png"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">День рождения</h3>
            <p>
              Уютная атмосфера, украшения и увлекательное творческое занятие — мы сделаем праздник особенным
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/e3.png"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Корпоратив</h3>
            <p>
              Такой необычный и запоминающийся формат оставит яркие воспоминания и станет настоящим праздником
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/e4.webp"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Семейный вечер</h3>
            <p>
              Это прекрасный способ провести время всей семьей, занимаясь совместным тврочеством и наслаждаясь уютом
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/e5.jpg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Занятие для детей</h3>
            <p>
              Возможность весело провести время, познакомиться с гончарным делом и слепить что-нибудь необычное
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/1234.jpg"
            alt="Description"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Девичник</h3>
            <p>
              Проведите этот день в кругу близких подруг, занимайтесь творчеством и наслаждайтесь уютом нашей студии
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- cards end -->
  </div>
</section>
<!-- end -->

<!-- coupons -->
<section class="container mx-auto py-20">
  <div class="bg-[#8B9D83] rounded-[4rem] p-10">
    <div class="grid grid-cols-2 gap-10 ">
      <!--  -->
      <div class="flex flex-col gap-10">
        <div class="text-white space-y-2">
          <h1 class="text-7xl">Дарите родным и близким впечатления</h1>
          <p class="text-2xl">Подарочный сертификат на мастер-класс по гончарному делу – это <span class="underline decoration-[#7A4E3F]">необычныйи очень атмосферный</span> подарок. На занятии легко окунуться в мир гончарного искусства и создать <span class="underline decoration-[#7A4E3F]">что-то уникальное</span> своими руками</p>
        </div>
        <a
          href="/feedback"
          class="bg-white hover:bg-[#7A4E3F] rounded-[2rem] p-5 transition-all duration-300 group"
        >
          <p class="text-2xl text-[#8B9D83] text-center group-hover:text-white">
            Купить сертификат
          </p>
        </a>
      </div>
      <!-- images -->
      <div class="flex items-center justify-center -mx-4 lg:pl-8">
        <div class="flex flex-col items-end px-3">
          <img
            class="object-cover mb-6 rounded-[2rem] shadow-lg h-28 sm:h-48 xl:h-56 w-28 sm:w-48 xl:w-56"
            src="/static/images/11.jpg"
            alt=""
          />
          <img
            class="object-cover w-20 h-20 rounded-[2rem] shadow-lg sm:h-32 xl:h-40 sm:w-32 xl:w-40"
            src="/static/images/13.jpg"
            alt=""
          />
        </div>
        <div class="px-3">
          <img
            class="object-cover w-40 h-40 rounded-[2rem] shadow-lg sm:h-64 xl:h-80 sm:w-64 xl:w-80"
            src="/static/images/12.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
</section>
<!-- end -->
{% endblock %}