<!-- hero products -->
<div
  class="relative h-screen bg-cover bg-center"
  style="background-image: url(https://artefacto.ru/img/work/article/s_a_75_664.jpg);"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/75 to-black/50"
  ></div>
  <div
    class="container mx-auto h-full flex flex-col justify-center items-start relative z-10 animate-fade-down"
  >
    <h1
      class="
        text-9xl font-bold text-white mb-4"
    >
      Обратная связь
    </h1>
    <p class="w-3/5 text-xl text-white leading-normal mb-8">
      Хотите забронировать мастер-класс или приобрести подарочный сертификат? Вы
      на правильной странице! Ваше мнение и пожелания для нас бесценны. Помогите
      нам стать лучше — оставьте свой отзыв или задайте вопрос. Мы обязательно
      свяжемся с вами и сделаем все возможное
    </p>
  </div>
</div>
<!-- end -->

<!-- attraction -->
<section class="container mx-auto py-24">
  <div class="flex flex-col justify-center items-center">
    <p class="text-7xl text-center">
      Выберите <span class="text-[#8B9D83]">идеальный</span> мастер-класс или подарочный
      сертификат прямо сейчас, ответим моментально
    </p>
  </div>
</section>
<!-- end -->

<!-- stages -->
<section class="container mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <!-- cards -->
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/XXXL (1).webp"
            alt="Выбор изделия"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              1 этап
            </p>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Выбор услуги</h3>
            <p>
              Организуйте мастер-класс, пройдите курс или купите подарочный
              сертификат. Подарите уникальные впечатления и возможность создать
              что-то своими руками.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="https://n1s2.hsmedia.ru/58/68/89/586889b261adec993c63c1886f7cd8ff/1706x1280_0xac120004_16245323011680254147.jpeg"
            alt="Заполнение формы"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              2 этап
            </p>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Заполнение формы</h3>
            <p>
              Заполните форму заказа, указав все необходимые детали и пожелания.
              Это поможет нам лучше понять ваши потребности.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="https://sun9-19.userapi.com/impg/bYuyHhobli5KZCpf7Yh7kRfk-bJJ2gyUNWW95Q/QIU2xfcmVUU.jpg?size=604x403&quality=95&sign=9422d68c12e7a51265cec54094dc9fec&c_uniq_tag=Bj5Gh6Qs33bOXan0xKh94iYKYJ9KM8KjADakUauTySs&type=album"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              3 этап
            </p>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Ожидание ответа</h3>
            <p>
              Ожидайте обратной связи от наших мастеров. Мы свяжемся с вами для
              уточнения деталей и согласования сроков выполнения заказа.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- cards end -->
  </div>
</section>
<!-- end -->

<!-- forms -->
<section class="container mx-auto py-20" id="product_form">
  <div class="bg-[#E3CEC1] rounded-[4rem] p-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <!-- form block -->
      <div class="flex flex-col order-1">
        <h1 class="text-6xl">Обратная связь</h1>
        <h2 class="text-xl mt-4">
          Заполните форму ниже, чтобы забронировать мастер-класс или приобрести подарочный сертификат. Наша
          команда свяжется с вами для уточнения деталей и уточнения сроков.
        </h2>
        <!-- form -->
        <form action="" class="mt-6">
          <div class="mb-4">
            <input
              placeholder="Имя и фамилия"
              type="text"
              id="name"
              name="name"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              required
            />
          </div>
          <div class="mb-4">
            <input
              placeholder="Номер телефона"
              type="tel"
              id="phone"
              name="phone"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              required
            />
          </div>
          <div class="mb-4">
            <input
              placeholder="E-mail"
              type="email"
              id="email"
              name="email"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              required
            />
          </div>
          <!--  -->
          <div class="mb-4">
            <form>
              <div class="relative">
                <select
                  id="services"
                  name="services"
                  class="block appearance-none w-full bg-white border-2 border-[#8B9D83] text-neutral-400 py-3 px-4 pr-8 rounded-[2rem] focus:outline-none focus:border-black"
                >
                  <option selected disabled hidden>Выберите услугу</option>
                  <option value="master_klass">Мастер-класс / курс</option>
                  <option value="sertificat">Подарочный сертификат</option>
                </select>
                <div
                  class="pointer-events-none absolute inset-y-0 right-2 flex items-center px-2 text-[#8B9D83]"
                >
                  <svg
                    class="fill-current w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.293 7.293a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 0-1.414z"
                    />
                  </svg>
                </div>
              </div>
            </form>
          </div>
          <!--  -->
          <div class="mb-4">
            <textarea
              placeholder="Комментарий к заказу"
              id="comment"
              name="comment"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="flex justify-center">
            <button
              class="bg-[#8B9D83] hover:bg-[#7A4E3F] rounded-[2rem] p-5 transition-all duration-300 group"
            >
              <p class="text-2xl text-white text-center group-hover:text-white">
                Отправить заявку
              </p>
            </button>
          </div>
        </form>
        <!-- end -->
      </div>
      <!-- image -->
      <img
        class="w-full h-[720px] object-cover rounded-[2rem]"
        src="images/XXXL (3).webp"
        alt="Form Image"
      />
      <!-- end -->
    </div>
  </div>
</section>
<!-- end -->
