{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load static %}

{% block content %}

<!-- hero products -->
<div
  class="relative h-screen bg-cover bg-center"
  style="background-image: url(/static/images/products_hero.png);"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/75 to-black/50"
  ></div>
  <div
    class="container mx-auto h-full flex flex-col justify-center items-start relative z-10 animate-fade-down"
  >
    <h1
      class="
        text-9xl font-bold text-white mb-4"
    >
      Изделия на заказ
    </h1>
    <p class="w-3/5 text-xl text-white leading-normal mb-8">
      Мы создаем уникальные декоративные изделия по вашим индивидуальным
      запросам. От оригинальных подарков до элементов интерьера — воплотите свои
      идеи в жизнь с помощью наших мастеров
    </p>
  </div>
</div>
<!-- end -->

<!-- attraction -->
<section class="container mx-auto py-24">
  <div class="flex flex-col justify-center items-center">
    <p class="text-7xl text-center">
      Занимайтесь гончарным делом и не только <span class="text-[#8B9D83]"
        >по новому!</span
      >
    </p>
  </div>
</section>
<!-- end -->

<!-- stages -->
<section class="container mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <!-- cards -->
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/p1.png"
            alt="Выбор изделия"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              1 этап
            </p>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Выбор изделия</h3>
            <p>
              Выберите изделие, которое хотите заказать. Мы предлагаем
              разнообразие декоративных элементов для любого вкуса — керамика,
              макраме и многое другое.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/p2.png"
            alt="Заполнение формы"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              2 этап
            </p>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Заполнение формы</h3>
            <p>
              Заполните форму заказа, указав все необходимые детали и пожелания.
              Это поможет нам лучше понять ваши потребности.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="/static/images/p3.png"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              3 этап
            </p>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-4xl mb-4">Ожидание ответа</h3>
            <p>
              Ожидайте обратной связи от наших мастеров. Мы свяжемся с вами для
              уточнения деталей и согласования сроков выполнения заказа.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- cards end -->
  </div>
</section>
<!-- end -->

<!-- forms -->
    <form id="feedback-form" action="/submit-feedback" method="post">
      {% csrf_token %}
<section class="container mx-auto py-20" id="product_form">
  <div class="bg-[#E3CEC1] rounded-[4rem] p-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <!-- form block -->
      <div class="flex flex-col order-1">
        <h1 class="text-6xl">Изделия на заказ</h1>
        <h2 class="text-xl mt-4">
          Заполните форму ниже, чтобы сделать заказ уникального изделия. Наши
          мастера свяжутся с вами для уточнения деталей и выполнения вашего
          заказа.
        </h2>
        <!-- form -->
        <form action="" class="mt-6">
          <div class="mb-4">
            <input
              placeholder="Имя и фамилия"
              type="text"
              id="name"
              name="name"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              required
            />
          </div>
          <div class="mb-4">
            <input
              placeholder="Номер телефона"
              type="tel"
              id="phone"
              name="phone"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              required
            />
          </div>
          <div class="mb-4">
            <input
              placeholder="E-mail"
              type="email"
              id="email"
              name="email"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              required
            />
          </div>
          <div class="mb-4">
            <input
              placeholder="Выбранное изделие"
              type="text"
              id="item"
              name="item"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              required
            />
          </div>
          <div class="mb-4">
            <textarea
              placeholder="Комментарий к заказу"
              id="comment"
              name="comment"
              class="w-full p-4 border-2 border-[#8B9D83] rounded-[2rem]"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="flex justify-center">
            <button type="submit"
              class="bg-[#8B9D83] hover:bg-[#7A4E3F] rounded-[2rem] p-5 transition-all duration-300 group"
            >
              <p class="text-2xl text-white text-center group-hover:text-white">
                Заказать изделие
              </p>
            </button>
          </div>
        </form>
        <!-- end -->
      </div>
      <!-- image -->
      <img
        class="w-full h-full object-cover rounded-[2rem]"
        src="/static/images/form.webp"
        alt="Form Image"
      />
      <!-- end -->
    </div>
  </div>
</section>
    </form>
<!-- end -->

<!-- works -->
<section class="container mx-auto">
  <div class="flex flex-col justify-center items-center gap-10">
    <!-- text -->
    <p class="text-7xl text-center">
      Изделия любой сложности будут вам <span class="text-[#8B9D83]"
        >по силам</span
      >
    </p>
    <!-- tags -->
    <div class="grid grid-cols-6 gap-5">
      <!-- cards -->
      <div class="bg-[#8B9D83] rounded-[2rem] px-6 py-4">
        <p class="text-xl text-white text-center">игрушки</p>
      </div>
      <div class="bg-[#8B9D83] rounded-[2rem] px-6 py-4">
        <p class="text-xl text-white text-center">мозаики</p>
      </div>
      <div class="bg-[#8B9D83] rounded-[2rem] px-6 py-4">
        <p class="text-xl text-white text-center">украшения</p>
      </div>
      <div class="bg-[#8B9D83] rounded-[2rem] px-6 py-4">
        <p class="text-xl text-white text-center">тарелки</p>
      </div>
      <div class="bg-[#8B9D83] rounded-[2rem] px-6 py-4">
        <p class="text-xl text-white text-center">чашки</p>
      </div>
      <div class="bg-[#8B9D83] rounded-[2rem] px-6 py-4">
        <p class="text-xl text-white text-center">горшочки</p>
      </div>
      <!-- end -->
    </div>
    <!-- examples of work -->
    <div class="grid grid-cols-3 gap-5">
        <!-- cards -->
        <div class="w-full mx-auto">
            <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
              <div
                class="transition-transform duration-500 ease-in-out group-hover:scale-105"
              >
                <img
                  class="w-full h-[500px] object-cover brightness-90"
                  src="/static/images/w1.jpg"
                  alt="Ожидание обратной связи"
                />
              </div>
              <div
                class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
              >
                <div class="text-white text-start p-8">
                  <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
                    Андрей
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full mx-auto">
            <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
              <div
                class="transition-transform duration-500 ease-in-out group-hover:scale-105"
              >
                <img
                  class="w-full h-[500px] object-cover brightness-90"
                  src="/static/images/w2.jpeg"
                  alt="Ожидание обратной связи"
                />
              </div>
              <div
                class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
              >
                <div class="text-white text-start p-8">
                  <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
                    Кристина
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full mx-auto">
            <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
              <div
                class="transition-transform duration-500 ease-in-out group-hover:scale-105"
              >
                <img
                  class="w-full h-[500px] object-cover brightness-90"
                  src="/static/images/w3.jpg"
                  alt="Ожидание обратной связи"
                />
              </div>
              <div
                class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
              >
                <div class="text-white text-start p-8">
                  <p class="text-2xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
                    Никита
                  </p>
                </div>
              </div>
            </div>
          </div>
        <!-- end -->
    </div>
    <!-- end -->
  </div>
</section>
<!-- end -->
<script src="{% static 'js/fed.js' %}"></script>
{% endblock %}