<!-- hero products -->
<div
  class="relative h-screen bg-cover bg-center"
  style="background-image: url(https://msk.kolokol.school/system/attachments/files/000/014/725/original/IMG_4590.jpg?1579191923);"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/75 to-black/50"
  ></div>
  <div
    class="container mx-auto h-full flex flex-col justify-center items-start relative z-10 animate-fade-down"
  >
    <h1
      class="
        text-9xl font-bold text-white mb-4"
    >
      Каталог изделий
    </h1>
    <p class="w-3/5 text-xl text-white leading-normal mb-8">
      Каждое наше изделие — это произведение искусства, воплощающее оригинальные
      идеи и высокое качество. Найдите идеальный предмет для вашего интерьера
      или особенный подарок для близких
    </p>
  </div>
</div>
<!-- end -->

<!-- attraction -->
<section class="container mx-auto py-24">
  <div class="flex flex-col justify-center items-center">
    <p class="text-7xl text-center">
      Откройте для себя <span class="text-[#8B9D83]">уникальные изделия</span>,
      созданные с любовью и мастерством
    </p>
  </div>
</section>
<!-- end -->

<!-- selling products -->
<section class="container mx-auto">
  <div class="grid grid-cols-3 gap-5">
    <!-- cards -->
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s1.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Турка</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 1 200 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s2.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Свистулька</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 400 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s3.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Колокольчик</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 450 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s4.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Горшок цветочный</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 1 800 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s5.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Тарелка сграффито</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 700 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s6.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Мозаика "Ханская мечеть"</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 2 500 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s7.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Мозаика "Вознесенский собор"</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 2 500 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s8.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Серьги и подвеска</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 1 700 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s9.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Серьги и подвеска 2</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 1 500 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s10.jpg "
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Серьги и подвеска 3</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 1 500 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s11.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Подарочный набор 1</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 1 100 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div class="relative overflow-hidden rounded-[4rem] shadow-lg group">
        <div
          class="transition-transform duration-500 ease-in-out group-hover:scale-105"
        >
          <img
            class="w-full h-[500px] object-cover brightness-90"
            src="images/s12.jpg"
            alt="Ожидание обратной связи"
          />
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-end justify-start"
        >
          <div class="text-white text-start p-8">
            <h3 class="text-5xl">Подарочный набор 2</h3>
          </div>
        </div>
        <div
          class="absolute inset-0 bg-black/10 hover:bg-black/20 transition-all duration-300 flex items-start justify-start"
        >
          <div class="text-white text-start p-8">
            <p class="text-4xl text-[#8B9D83] px-6 py-4 rounded-full bg-white">
              от 1 500 ₽
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
  </div>
</section>
<!-- end -->

<!-- products form -->
<section class="container mx-auto py-20">
  <div class="bg-[#8B9D83] rounded-[4rem] p-10">
    <div class="grid grid-cols-2 gap-10">
      <!--  -->
      <div class="flex flex-col gap-10">
        <div class="text-white space-y-2">
          <h1 class="text-7xl">Нужно что-то новое и необычное?</h1>
          <p class="text-2xl">
            Закажите уникальное произведение искусства, созданное специально для
            вас. Воплотите свои идеи в реальность и удивите близких.
          </p>
        </div>
        <a
          href="/products#product_form"
          class="bg-white hover:bg-[#7A4E3F] rounded-[2rem] p-5 transition-all duration-300 group"
        >
          <p class="text-2xl text-[#8B9D83] text-center group-hover:text-white">
            Заказать изделие
          </p>
        </a>
      </div>
      <!-- images -->
      <div class="h-[435px]">
        <img
          class="object-cover rounded-[2rem] w-full h-full"
          src="https://cdn.leroymerlin.ru/lmru/image/upload/v1647366083/lmcode/M8U8bq_obEW6uERqqy0a1Q/90245487.jpg"
          alt=""
        />
      </div>
      <!-- end -->
    </div>
  </div>
</section>
<!-- end -->
